/*
    Concise Narrow Template.
    http://concisecss.com/examples/narrow/
 */
.container {
    width: 90%;
}
@media (min-width: 48em) {
    .container {
        width: 726px;
    }
}

.btn {
    border-radius: 4px;
    transition: all .3s;
}

.siteHeader {
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    margin-bottom: 0;
}
@media (min-width: 48em) {
    .logo {
        float: left;
    }
}

@media (min-width: 48em) {
    .nav {
        float: right;
    }
}
.nav li {
    display: inline;
    line-height: 3.5;
    margin-left: 25px;
}
.nav li:first-of-type {
    margin-left: 0;
}

.feature {
    background-color: #eee;
    margin-top: 50px;
    padding: 35px;
    text-align: center;
}
@media (min-width: 48em) {
    .feature {
        padding: 50px;
    }
}

.feature-title {
    margin-top: 0;
}

.siteContent {
    padding: 0px 0px;
}

.siteFooter {
    border-top: 1px solid #eee;
    padding-top: 15px;
    text-align: center;
}

/* Add by mitsu. */
.greeting {
    text-align: center;
    font-size: 3.5em;
}
.techListup {
    list-style: none;
}
.birthday {
    text-align: center;
    font-size: 1.5em;
}
.li_icon_img {
    position: relative; top: 2.5px;
    width: 16px;
    height: 16px;
}
.profile_index {
    border-bottom: 2.0px solid #777777;
}

