/**
 *  CSS for ksgr.net
 */

:root {
  --global-font-size: 18px;
  --global-line-height: 1.4em;

  --background-color: #0D1117;
  --font-color: #E8ECF2;

  --primary-color: #1a95e0;
  --secondary-color: #2455C3;
}


/**
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 250px;
  height: 100vh;

  padding: 3rem 1rem;
  border-right: 1px solid #333;
  overflow-y: auto;
}

.sidebar h1 {
  color: #00ff00;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.sidebar a {
  color: #E8ECF2;
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.sidebar a:hover,
.sidebar a.active {
  color: #EFC11A;
}


/**
 * Main contents
 */
body {
  margin: 0;
  font-family: monospace;
}

main {
  flex: 1;
  margin-left: 250px;
  padding: 2rem;
}

.title {
  margin-bottom: 10rem;
  letter-spacing: -1px;
  --font-color: #18E000;
  --global-font-size: 2rem;
}

h3 {
  --font-color: #FF8E1E;
  margin-bottom: 1.5rem;
}

article {
  margin-bottom: 5rem;
}


/**
 * Responsive
 */
@media (max-width: 768px) {
  main {
    margin: auto;
    width: 600px;
    padding: 1rem;
  }

  .sidebar {
    display: none;
  }
}
